<%- include('parts/head',{title:'iTavern | Editar Grupos'}); %>
<link rel="stylesheet" href="/css/grupos-busca.css" />
<link rel="stylesheet" href="/css/home.css" />
<%- include('./criarSala',{jogos}); %>
<%- include('parts/navbar', {current_page:'Editar Grupos'}); %>

<main>
  <span class="nav-btn" id="nav-btn">
    <i class="fas fa-bars"></i>
  </span>
  <section class="meusGrupos">
    <div class="section-header">
      <h3 class="section-title">Meus grupos criados</h3>
      <div class="separator"></div>
      <a href="#" class="btn">
        novo
      </a>
    </div>
    <div class="groups-container">
      
      <p id="invi4" class="invi"><%= meusGrupos.length == 0  %></p>

      <div id="semGrupo" class="">
        <h2>você não gerencia nenhum grupo</h2>
      </div>

      <!-- Inicio de um card de grupo -->
      <% for(grupo of meusGrupos){ %>
        <article class="card" id="<%= grupo.id %>">
          <div class="cover-container">
            <img src="<%= grupo.img %>" class="card-img-top" alt="..." />
            <i class="<%= grupo.icon %> fa-fw group-icon"></i>
            </div>
            <div class="card-body text-center">
              <h3 class="group-title"><%= grupo.nome %></h3>
              <h4 class="group-game"><%= grupo.jogoDoGrupo.nome %></h4>
              <ul class="group-perks">
                <li>Começou em: <%= grupo.inicioReuniao.toLocaleDateString('pt-br', {}) %></li>
              </ul>
              <p id="invi" class="invi"><%= grupo.diasReuniao %></p>
              <% console.log(grupo.diasReuniao)%>
              <a href="#" class="btn btn-grupo" data-toggle="modal" data-target="#exampleModalEdit" onclick="colocaCheck()">Editar</a>
            </div>
          </article>
          <%- include('editarSala', {grupo}); %>
          <% } %>
          <!-- Fim de um card de grupo -->
        </div>

  </section>
  <script src="/javascripts/editarSala.js"></script>
</main>
<%- include('parts/foot'); %>