<%- include('parts/head',{title:'iTavern | Editar Grupos'}); %>
<link rel="stylesheet" href="/css/grupos-busca.css" />
<link rel="stylesheet" href="/css/home.css" />
<%- include('./criarSala',{jogos}); %>
<%- include('parts/navbar', {current_page:'Editar Grupos'}); %>

<main>
  <span class="nav-btn" id="nav-btn">
    <i class="fas fa-bars"></i>
  </span>
  <section class="meusGrupos">
    <div class="section-header">
      <h3 class="section-title">Meus grupos criados</h3>
      <div class="separator"></div>
      <a href="#" class="btn">
        novo
      </a>
    </div>
    <div class="groups-container">
      
      <p id="invi4" class="invi"><%= meusGrupos.length  %></p>

      <div id="semGrupo" class="">
        <h2>você não gerencia nenhum grupo</h2>
      </div>

      <!-- Inicio de um card de grupo -->
      <% for(let x = 0; x < meusGrupos.length; x++){ %>
        <article class="card" id="<%= x %>">
          <div class="cover-container">
            <img src="/images/covers/<%= meusGrupos[x].img %>" class="card-img-top" alt="..." />
            <i class="<%= meusGrupos[x].icon %> fa-fw group-icon"></i>
            </div>
            <div class="card-body text-center">
              <h3 class="group-title"><%= meusGrupos[x].nome %></h3>
              <h4 class="group-game"><%= meusGrupos[x].jogo %></h4>
              <ul class="group-perks">
                <li>Próxima reunião em: 4 dias</li>
              </ul>
              <p id="invi" class="invi"><%= meusGrupos[x].reunioes %></p>
              <a href="#" class="btn btn-grupo" data-toggle="modal" data-target="#exampleModalEdit" onclick="colocaCheck()">Editar</a>
            </div>
          </article>
          <%- include('editarSala', {grupo:meusGrupos[x]}); %>
          <% } %>
          <!-- Fim de um card de grupo -->
        </div>

  </section>
  <script src="/javascripts/editarSala.js"></script>
</main>
<%- include('parts/foot'); %>