<%- include('parts/head',{title:'iTavern | Perfil'}); %>
<link rel="stylesheet" href="/css/perfil.css">
<%- include('./criarSala',{jogos}); %>
<%- include('parts/navbar', {current_page:'perfil'}); %>

<main>
    <span class="nav-btn" id="nav-btn">
        <i class="fas fa-bars"></i>
      </span>
    <div class="container">
        <h3 id="page-name">Editar perfil</h3>
        <div class="separator"></div>
        <form id="formPerfil" action="/cadastro/update?_method=PUT" method="POST" enctype="multipart/form-data">
            <h4>Alterar foto do perfil</h4>
            <div id="perfil-header">
                <img src="<%= usuario.img_perfil %>" alt="Foto de perfil" class="profile-picture" />
                <input type="file" name="imgPerfil" id="imgPerfil">
            </div>
            <hr>
            <h4>Alterar dados do perfil</h4>
            <div id="perfil-main">
                <div class="content">
                    <div class="dadosUser">
                        <label for="nomePerfil">Nickname:</label>
                        <input type="text" id="nomePerfil" name="nickname" value="<%= usuario.nickname %>">
                    </div>

                    <div class="dadosUser">
                        <label for="nomeReal">Nome real</label>
                        <input type="text" id="nomeReal" name="nome" value="<%= usuario.nome %>">
                    </div>

                    <div class="dadosUser">
                        <label for="cepUser">CEP</label>
                        <input type="text" id="cepUser" name="cepUser">
                    </div>

                    <div class="dadosUser">
                        <label for="estadoUF">Estado/UF</label>
                        <select name="estadoUF" id="estadoUF">
                            <option value="SP">São Paulo</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="MG">Minas Gerais</option>
                        </select>
                    </div>

                    <div class="dadosUser">
                        <label for="cidadeUser">Cidade</label>
                        <select name="cidadeUser" id="cidadeUser">
                            <option value="cidade1">Cidade 1</option>
                            <option value="cidade2">Cidade 2</option>
                            <option value="cidade3">Cidade 3</option>
                        </select>
                    </div>

                    <div class="dadosUser">
                        <label for="bairro">Bairro</label>
                        <select name="bairro" id="bairro">
                            <option value="bairro1">Bairro 1</option>
                            <option value="bairro2">Bairro 2</option>
                            <option value="bairro3">Bairro 3</option>
                        </select>
                    </div>

                    <div class="dadosUser">
                        <label for="ruaCasa">Rua</label>
                        <input type="text" id="ruaCasa" name="ruaCasa"><br>
                    </div>

                    <div class="dadosUser">
                        <label for="numeroCasa">Número</label>
                        <input type="text" id="numeroCasa" name="numeroCasa">
                    </div>
                </div>
            </div>
            <hr>
            <div id="botaoSubmit">
                <button type="submit">Salvar</button>
            </div>
        </form>
    </div>
</main>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/46bd2a5d08.js"></script>

<%- include('parts/foot'); %>