<%- include('parts/head',{title:'iTavern | Busca de Grupos'}); %>
<link rel="stylesheet" href="/css/grupos-busca.css" />
<%- include('./criarSala',{jogos}); %>
<%- include('parts/navbar', {current_page:'buscar-grupos'}); %>
<!-- searchbar -->
<main>
  <section class="container searchbar">
    <form id="form-busca" action="/grupos/search" method="GET" class="row pt-3">
      <span class="nav-btn" id="nav-btn">
        <i class="fas fa-bars"></i>
      </span>
      <div class="col-12 col-md-6 pl-5">
        <div class="input-group mb-3">
          <input type="text" name="searchText" class="form-control search-box"
            placeholder="Pesquise por jogo ou nome do grupo" aria-label="Recipient's username"
            aria-describedby="button-addon2" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary form-control" type="submit" id="button-addon2">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-4 col-md-2">
        <div class="input-group mb-3">
          <select name="groupGame" class="custom-select form-control" id="inputGroupSelect01" placeholder="Jogo">
            <option value="" selected disabled>Jogo</option>
            <% for(jogo of jogos) {%>
            <option value="<%= jogo.id %>"><%= jogo.nome %></option>
            <% } %>
          </select>
        </div>
      </div>
      <div class="col-4 col-md-2">
        <div class="input-group mb-3">
          <select name="groupSize" class="custom-select form-control" id="inputGroupSelect02"
            placeholder="Tamanho do grupo">
            <option value="" selected disabled>Tamanho do grupo</option>
            <option value="1">Pequeno (1-3)</option>
            <option value="2">Médio (3-5)</option>
            <option value="3">Grande (>5)</option>
          </select>
        </div>
      </div>
      <div class="col-4 col-md-2">
        <div class="input-group mb-3">
          <select class="custom-select form-control" name="distance" placeholder="Distância" id="inputGroupSelect03">
            <option value="" disabled selected>Distância</option>
            <option value="1">Até 5km</option>
            <option value="2">5km a 15km</option>
            <option value="3">mais de 15km</option>
          </select>
        </div>
      </div>
    </form>
  </section>
  <!-- end of searchbar -->
  <section class="container grupos">
    <div class="row">
      <!-- Inicio de um card de grupo -->
      <% let x = 0; %>
      <% for(let grupo of grupos){ %>
      <article class="col-12 col-sm-6 col-lg-4 col-xl-3 py-3">
        <div class="card" id="<%= grupo.id %>">
          <div class="cover-container">
            <img src="/images/covers/<%= grupo.img %>" class="card-img-top" alt="..." />
            <i class="<%= grupo.icon %> fa-fw group-icon"></i>
          </div>
          <div class="card-body text-center">
            <h3 class="group-title"><%= grupo.nome %></h3>
            <h4 class="group-game"><%= grupo.jogoDoGrupo.nome %></h4>
            <ul class="group-perks">
              <li>
                Membros:
                <span class="text-warning"><%= participantes[x] %>/<%= grupo.numJogadores %></span>
              </li>
              <li>Reuniões: <%= grupo.diasReuniao %></li>
              <li><%= grupo.local %></li>
            </ul>
            <a href="#" class="btn btn-danger btn-grupo">Info</a>
            <a href="#" class="btn btn-danger btn-grupo entrar" data-target="#entraGrupo" data-toggle="modal">Entrar</a>
          </div>
        </div>
      </article>
        <% x++; %>
      <% } %>
      <!-- Fim de um card de grupo -->
    </div>
    <div class="modal fade" id="entraGrupo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog caixa" role="document">
        <div class="modal-content tCaixa">
          <div class="modal-header hContainer">
            <h5>Deseja entrar nesse grupo?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">X</span>
            </button>
          </div>
          <div class="conteudo">
            <button type="button" class="btn" id="cancela" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn" id="confirmaEntrada" data-dismiss="modal">Confirmar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <!-- <script src="/javascripts/grupos-busca.js"></script> -->
</main>
<%- include('parts/foot'); %>