<%- include('parts/head',{title:'iTavern | Grupos'}); %>
<link rel="stylesheet" href="/css/grupos.css" />
<%- include('parts/navbar', {current_page:'grupos'}); %>
<div class="main-content">
  <main class="group-chat">
    <div class="group-header">
      <span class="nav-btn" id="nav-btn">
        <i class="fas fa-fw fa-bars"></i>
      </span>
      <i class="<%=gruposDB[1].icon %> fa-fw header-icon"></i>
      <h4 class="group-name"><%=gruposDB[1].nome%></h4>

      <div class="input-group">
        <input type="text" name="searchText" class="form-control" placeholder="busca" aria-label="Recipient's username"
          aria-describedby="button-addon2" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary form-control" type="submit" id="button-addon2">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="chat">
      <div class="message-area">
        <div class="chat-msg">
          <h4>Membro 1</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus minima dolorum, deleniti delectus nisi
            perspiciatis!</p>
          <p class="datetime"> 14:22</p>
        </div>
        <div class="chat-msg">
          <h4>Membro 1</h4>
          <p>tempore fugit rem? Quis quia tempora sint exercitationem enim reiciendis eius nobis odit quae quo.</p>
          <p class="datetime"> 14:22</p>

        </div>
        <div class="chat-msg my-msg">
          <h4>Você</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus minima dolorum, deleniti delectus nisi
            perspiciatis!</p>
          <p class="datetime"> 14:24</p>
        </div>
        <div class="chat-msg">
          <h4>Membro 2</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus minima dolorum, deleniti delectus nisi
            perspiciatis!</p>
          <p class="datetime"> 14:25</p>
        </div>
      </div>
      <form class="input-group message-box">
        <input type="text" name="searchText" class="form-control msg-text chat-control" placeholder="Envie uma mensagem"
          aria-label="Recipient's username" aria-describedby="button-addon2" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary form-control chat-control" type="submit" id="button-addon2">
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </form>
    </div>
  </main>
  <aside>
    <div class="card">
      <div class="cover-container">
        <img src="/images/covers/<%= gruposDB[0].img %>" class="card-img-top" alt="capa do grupo" />
        <i class="<%= gruposDB[1].icon %> fa-fw group-icon"></i>
      </div>
      <div class="card-body text-center">
        <h4 class="group-title"><%= gruposDB[1].nome %></h4>
        <h4 class="group-game"><%= gruposDB[1].jogo %></h4>
        <p class="next-game" style="color:red;">Encontro hoje às 20h</p>
        <a href="#" class="btn btn-danger btn-grupo">chat</a>
        <a href="#" class="btn btn-danger btn-grupo">sair</a>
      </div>
    </div>
    <div class="card">
      <div class="cover-container">
        <img src="/images/covers/<%= gruposDB[8].img %>" class="card-img-top" alt="capa do grupo" />
        <i class="<%= gruposDB[8].icon %> fa-fw group-icon"></i>
      </div>
      <div class="card-body text-center">
        <h4 class="group-title"><%= gruposDB[8].nome %></h4>
        <h4 class="group-game"><%= gruposDB[8].jogo %></h4>
        <p class="next-game">Encontro em 6 dias</p>
        <a href="#" class="btn btn-danger btn-grupo">chat</a>
        <a href="#" class="btn btn-danger btn-grupo">sair</a>
      </div>
    </div>
  </aside>
</div>

<%- include('parts/foot'); %>